<div class='container'>

  <%= form_for @task, html: {class: "form-vertical"} do |f| %>

    <%= f.label :description %>
    <p></p>
    <%= f.text_field :description %>
    <p></p>
    <%= f.submit "New Task" %>
    <p></p>
    <%= link_to "Show", tasks_path %>
    <u><%= link_to "Back", tasks_path %></u

    <% end %>
</div>
