<div class='container'>
  <h1 class='page-header'>
    <% if @task.complete == true %>
      <s><%= @task.description %></s>
    <% else %>
      <%= @task.description %>
    <% end %>
    <div class= "pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
  </h1>
  <ol class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %></li>
    <li> <%= link_to @project.name, project_path %></li>
    <li> <%= Task %></li>
  </ol>
  <strong>
    Due On:
  </strong>
    <% if @task.due_date %>
      <%= @task.due_date.strftime("%m/%d/%Y") %>
    <% end %>
    <p>
    <p>
</div>
