<div class="container">

  <div class="column">
    <div class="column column-one">
      <div class="jumbotron">
        <h1>gCamp</h1>
        <p>Your life, organized.</p>
      </div>
    </div>

    <div class="column column-three">
      <%=image_tag("TABLET.jpg", class: "img-responsive")%>
    </div>
    <div class="column column-three">
      <%=image_tag("HANDS.jpg", class: "img-responsive")%>
    </div>
    <div class="column column-three">
      <%=image_tag("DISTRESSED.jpg", class: "img-responsive")%>
    </div>


    <div class="column column-three">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists. Just the way you like'em
      </div>
    </div>
  </div>

  <div class="column column-three">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Permissions</h3>
      </div>
      <div class="panel-body">
        Fine-grained permissions
      </div>
    </div>
  </div>

  <div class="column column-three">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="column column-one"
      <p><%= @quotes_array[0]["quote"]%></p>
      <p class= text-muted ><em> -<%= @quotes_array[0]["contributor"]%></em></p>

      <p><%= @quotes_array[1]["quote"]%></p>
      <p class= text-muted><em> -<%= @quotes_array[1]["contributor"]%></em></p>

      <p><%= @quotes_array[2]["quote"]%></p>
      <p class= text-muted><em> -<%= @quotes_array[2]["contributor"]%></em></p>
    </div>
  </div>


</div>
