<div class="container">
  <h1 class="page-header">Projects
    <div class="pull-right">
      <%= link_to 'New Project', new_project_path, class: "btn btn-info"  %>
    </div>
  </h1>


  <table class= "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks</th>
        <th></th>
      </tr>
    </thead>

  <tbody>

    <% if current_user.admin == true %>
      <% @projects.each do |project| %>
        <tr>
          <div class='col-md-2'>
            <td>
              <u><%= link_to project.name, project_path(project) %></u>
            </td>
            <td>
              <u><%= link_to project.tasks.count, project_tasks_path(project) %></u>
            </td>
            <td></td>
          </div>
        </tr>
      <% end %>
    <% else %>
      <% current_user.projects.each do |project| %>
        <tr>
          <div class='col-md-2'>
            <td>
              <u><%= link_to project.name, project_path(project) %></u>
            </td>
            <td>
              <u><%= link_to project.tasks.count, project_tasks_path(project) %></u>
            </td>
            <td></td>
          </div>
        </tr>
      <% end %>
    <% end %>

    <% if @pivotal_projects %>
      <h1> Pivotal Tracker Projects </h1>
      <table class='table'>
        <thead>
          <tr>
            <th> Name </th>
          </tr>
        </thead>
        <% @pivotal_projects.each do |project| %>
          <tr>
            <div class'col-md-2'>
              <td>
                <%= link_to project[:name], pivotal_api_path(project[:id], project_name: project[:name ]) %>
              </td>
            </div>
          </tr>
         <% end %>
       </table>
    <% end %>

  </tbody>
  </table>

</div>
