<div class='container'>

    <div class='row'>
      <div class='pull-right'>
        <%= link_to "Delete", project_path, method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-danger pull-right margin-top-button' %>
        <%= link_to "Edit", edit_project_path, class: 'btn btn-info pull-right margin-top-button' %>
      </div>
      <h1>
        <%= @project.name %>
      </h1>
    </div>

  <hr></hr>
  <ol class="breadcrumb">
    <li>
      <%= link_to "Projects", projects_path %> / <%= @project.name %>
    </li>
  </ol>
  <%= link_to pluralize(@project.tasks.count, 'Task'), project_tasks_path(@project) %>
  <br>
  <%= link_to pluralize(@project.memberships.count, 'Membership'), project_memberships_path(@project) %>

  <p>
  <p>
</div>
