<div class='container'>
  <h1 class='page-header'><%= @project.name %>
    <div class='pull-right'>
      <% if Membership.where("project_id= ? AND role= ?", @project.id, "Owner").include?(current_user.memberships.find_by(project_id: @project.id)) || current_user.admin == true%>
        <%= link_to "Edit", edit_project_path, class: 'btn btn-info' %>
      <% end %>
    </div>
  </h1>

  <ol class="breadcrumb">
    <li> <%= link_to "Projects", projects_path %> </li>
    <li class='active'> <%= @project.name %></li>
  </ol>

  <div>
    <% if @project.tasks.any? %>
      <%= link_to pluralize(@project.tasks.count, 'Task'), project_tasks_path(@project) %>
    <% else %>
      <%= link_to "0 Tasks", project_tasks_path(@project) %>
    <% end %>
  </div>
  <div>
    <% if @project.users.any? %>
      <%= link_to pluralize(@project.memberships.count, 'Membership'), project_memberships_path(@project) %>
    <% else %>
      <%= link_to "0 Memberships", project_memberships_path(@project) %>
    <% end %>
  </div>
  <br>

  <% if Membership.where("project_id= ? AND role= ?", @project.id, "Owner").include?(current_user.memberships.find_by(project_id: @project.id)) || current_user.admin == true%>
    <div class='well'>
      <h2> Delete Project </h2>
        <%= "Deleting this project will also delete #{pluralize(@project.memberships.count, "membership")}, #{pluralize(@project.tasks.count, "task")} and associated comments" %><br><br>
        <%= link_to "Delete", project_path, method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
