<div class='container'>
  <head>
    <title>GCamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= link_to("gCamp", root_path, class:"navbar-brand") %>

        <ul class='nav navbar-nav navbar-right'>
          <% if current_user %>
            <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
            <li><%= link_to "Sign Out", sign_out_path %></li>
          <% else %>
            <li><%= link_to "Sign In", sign_in_path %></li>
            <li><%= link_to "Sign Up", sign_up_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>

  <%= yield %>




  <footer>
  <% unless current_user %>
    <%= link_to "About", about_path %>
    |
    <%= link_to "Terms", terms_path %>
    |
    <%= link_to "FAQ", faq_path %>
  <% else %>
    <%= link_to "About", about_path %>
    |
    <%= link_to "Terms", terms_path %>
    |
    <%= link_to "FAQ", faq_path %>
    |
    <%= link_to "Users", users_path %>
    |
    <%= link_to "Projects", projects_path %>
  <% end %>

    <%= link_to image_tag('g.png', class: 'link_image'), "https://students.gschool.it/cohorts/8/students/272" %>
    <%= link_to image_tag('Twitter.png', class: 'link_image'), "https://twitter.com/_aatoms" %>
    <%= link_to image_tag('GitHub.png', class: 'link_image'), "https://github.com/aatoms" %>
    <%= link_to image_tag('linked_in.png', class: 'link_image'), "https://www.linkedin.com/pub/austin-adams/89/5b9/82a" %>

  </footer>
  </body>
  </html>
</div>
